* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 200;
}

.undertitle {
    margin-left: 5%;
    text-align: center;
    font-weight: 200;
}

.clear {
    clear: both;
}

#canvas {
    display: block;
    width: 458px;
    margin: 0 auto;
}

#chat {
    width: 640px;
    height: 458px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#msgs {
    width: 100%;
    height: 360px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background: #eee;
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
}

::-webkit-scrollbar-thumb {
    background: #909090;
}

::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

::-webkit-scrollbar-thumb:active {
    background: #505050;
}

.msg {
    width: 100%;
    margin-bottom: 0.2em;
}

.msg_l {
    float: left;
    border: 1px solid black;
    border-left: none;
    min-width: 100px;
    min-height: 1.4em;
    padding: 0.2em;
    box-sizing: border-box;
    border-bottom-right-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

textarea {
    outline: none;
    border: 1px solid black;
    border-left: none;
    height: 41px;
    width: 540px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
    float: left;
}

#chat button {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    text-align: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    height: 41px;
    width: 98px;
    box-sizing: border-box;
    float: right;
}

button:active {
    outline: none;
    box-shadow: 0 0 30px 5px #c0c0c0 inset;
}

button:focus {
    outline: none;
}

.msg_r {
    float: right;
    text-align: right;
    border: 1px solid black;
    border-right: none;
    min-width: 100px;
    min-height: 1.4em;
    padding: 0.2em;
    box-sizing: border-box;
    border-bottom-left-radius: 0.7em;
    border-top-left-radius: 0.7em;
}

@media(min-width: 1150px) {
    #game {
        margin-top: 2.3em;
        width: 1118px;
    }
    #canvas {
        float: left;
    }
    #chat {
        float: right;
        margin-top: 0;
    }
}

@media(min-height: 700px) {
    #game {
        margin-top: 2.3em;
    }
}

.room, #create-room {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    margin-top: 1em;
    border: 1px solid #404040;
}

#room-list {
    text-align: center;
}

#create-room {
    position: relative;
    width: 601px;
}

.room button, #create-room button {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    text-align: center;
    border: none;
    border-left: 1px solid #404040;
    height: 50px;
    width: 120px;
    box-sizing: border-box;
    float: right;
}

#create-room input[type="text"] {
    width: 240px;
    height: 50px;
    float: left;
    display: block;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Exo 2', sans serif;
}

#create-room input[type="text"]:focus {
    box-shadow: 0 0 5px 1px #808080 inset;
}

.about-password {
    width: 240px;
    font-weight: 200;
    font-size: 14px;
    position: absolute;
    right: 120px;
    bottom: -35px;
    border: 1px solid #404040;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.25s ease;
}

.show-about {
    opacity: 1;
}

.name {
    float: left;
    font-size: 1.5em;
    font-weight: 200;
}

#menu {
    margin-top: 2em;
}

#game {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.notice {
    display: none;
    position: absolute;
    width: 100%;
    height: 1.4em;
    font-size: 1.5em;
    padding-top: 0.1em;
    text-align: center;
    top: 0;
    opacity: 1;
    background: #ddd;
    border-bottom: 1px solid #404040;
    box-sizing: border-box;
}

.page-darker {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.replay-panel {
    display: none;
    width: 50%;
    height: 10%;
    opacity: 0;
    transition: 1s all ease;
    position: absolute;
    left: 25%;
    top: 45%;
}

.show-replay-panel {
    display: block;
    opacity: 1;
}

.replay-panel button {
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 2em;
    width: 100%;
    height: 100%;
}

#other-player-name {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

input[type="text"] {
    width: 601px;
    height: 50px;
    margin: 0 auto;
    display: block;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Exo 2', sans serif;
    text-align: center;
}

input[type="text"]:focus {
    box-shadow: 0 0 5px 1px #404040;
}

input.play-password {
    margin-left: -1px;
    width: 602px;
}

input.play-password:focus {
    box-shadow: 0 0 5px 1px #808080 inset;
}